* {
    padding: 0px;
    margin: 0px;

    font-family: "Nunito Sans", sans-serif;

}

.header {

    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    background-color: white;

}

.logo {
    cursor: pointer;

}

.menu {
    display: flex;
    cursor: pointer;

}

.menu p {
    padding: 10px;
    cursor: pointer;
}

.profile {
    display: flex;


}

.profile img {
    padding: 10px;
    cursor: pointer;
}

.p1:hover {
    color: black;
    background-color: rgb(193, 190, 190);
    border-radius: 35px;
}

.p3:hover {
    color: black;
    background-color: rgb(193, 190, 190);
    border-radius: 35px;
}

.p4:hover {
    color: black;
    background-color: rgb(193, 190, 190);
    border-radius: 35px;
}

.p2:hover {
    border-bottom: 1px black solid;
    opacity: 0.5;

}

.profile p {
    margin-top: 20px;
    display: flex;

}

.img1 {
    display: flex;
    justify-content: end;
    align-items: end;
}

.img1:hover {
    color: black;
    background-color: rgb(193, 190, 190);
    border-radius: 35px;
}

.img2:hover {
    opacity: 0.5;
}


.title {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    margin-left: 100px;
}




.search__1 {
    justify-content: center;
    align-items: center;
    display: flex;

}

.search__1 p {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-bottom: 5px;



}

.search__1 p:hover {
    border-bottom: black 1px solid;
    width: fit-content;
    opacity: 0.5;
}

.p11:focus {
   
    opacity: 0.5;
}

.load {
    display: flex;
    justify-content: center;
}

.search__2 {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    height: 40px;
    width: 800px;
    border: 1px black solid;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}

.icon {
    margin-left: 10px;
}

.searchbar{
    display: flex;
    flex-wrap: wrap;
}

.searchbar input {
    margin-left: 10px;
    width: 650px;
    border: none;
    font-size: 18px;
}

.searchbar input:focus {
    outline: none;
}

.searchbutton {
    margin-right: 10px;
    padding: 10px;
    border: 1px black solid;
    background-color: #02ffa2;
    border-radius: 60px;
    cursor: pointer;
}

.searchbutton:hover {
    opacity: 0.5;
}


.image1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;


}




.image2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;


}


.topic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex-wrap: wrap;
    padding: 10px;

    margin-left: 110px;


}

.topic h2 {
    margin-bottom: 10px;
}

.topic p {
    margin-bottom: 10px;
}

.i {
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-bottom: 30px;
}

.i1 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;

}

.i2 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.i3 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.i4 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.i1 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.i2 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.i3 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.i4 h2 {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;


}


.i1:hover {
    opacity: 0.5;
    transition: 1s;

}

.i2:hover {
    opacity: 0.5;
    transition: 1s;

}

.i3:hover {
    opacity: 0.5;
    transition: 1s;

}

.i4:hover {
    opacity: 0.5;
    transition: 1s;

}



.topic__2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex-wrap: wrap;
    padding: 10px;

    margin-left: 110px;


}

.topic__2 h2 {
    margin-bottom: 10px;
}

.topic__2 p {
    margin-bottom: 10px;
}

.a {
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-bottom: 30px;
}

.a1 {
    margin-top: 3px;
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;

}

.a2 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.a3 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.a4 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.a1 h3 {
    width: 300px;
}

.a1 p {
    width: 300px;
}

.a2 h3 {
    width: 300px;
}

.a2 p {
    width: 300px;
}

.a3 h3 {
    width: 300px;
}

.a3 p {
    width: 300px;
}

.a4 h3 {
    width: 300px;
}

.a4 p {
    width: 300px;
}

.a1:hover {
    opacity: 0.5;
    transition: 1s;

}

.a2:hover {
    opacity: 0.5;
    transition: 1s;

}

.a3:hover {
    opacity: 0.5;
    transition: 1s;

}

.a4:hover {
    opacity: 0.5;
    transition: 1s;

}



.topic__3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex-wrap: wrap;
    padding: 10px;

    margin-left: 110px;


}

.topic__3 h2 {
    margin-bottom: 10px;
}

.topic__3 p {
    margin-bottom: 10px;
}

.b {
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-bottom: 30px;
}

.b1 {
    margin-top: 2px;
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;

}

.b2 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.b3 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.b4 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.b1 h3 {
    width: 300px;
}

.b1 p {
    width: 300px;
}

.b2 h3 {
    width: 300px;
}

.b2 p {
    width: 300px;
}

.b3 h3 {
    width: 300px;
}

.b3 p {
    width: 300px;
}

.b4 h3 {
    width: 300px;
}

.b4 p {
    width: 300px;
}

.b1:hover {
    opacity: 0.5;
    transition: 1s;

}

.b2:hover {
    opacity: 0.5;
    transition: 1s;

}

.b3:hover {
    opacity: 0.5;
    transition: 1s;

}

.b4:hover {
    opacity: 0.5;
    transition: 1s;

}






.topic__4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex-wrap: wrap;
    padding: 10px;

    margin-left: 110px;


}

.topic__4 h2 {
    margin-bottom: 10px;
}

.topic__4 p {
    margin-bottom: 10px;
}

.c {
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-bottom: 30px;
}

.c1 {
    margin-top: 2px;
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;

}

.c2 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.c3 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.c4 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.c1 h3 {
    width: 300px;
}

.c1 p {
    width: 300px;
}

.c2 h3 {
    width: 300px;
}

.c2 p {
    width: 300px;
}

.c3 h3 {
    width: 300px;
}

.c3 p {
    width: 300px;
}

.c4 h3 {
    width: 300px;
}

.c4 p {
    width: 300px;
}

.c1:hover {
    opacity: 0.5;
    transition: 1s;

}

.c2:hover {
    opacity: 0.5;
    transition: 1s;

}

.c3:hover {
    opacity: 0.5;
    transition: 1s;

}

.c4:hover {
    opacity: 0.5;
    transition: 1s;

}

.con__6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FAF1ED;
    color: black;
}

.d {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 110px;
    margin-top: 100px;
    padding-bottom: 50px;


}

.d1 {
    text-align: center;
    margin-right: 20px;
    transition: 2s;
    cursor: pointer;
}

.d1 p {
    width: 400px;
}

.d2 {
    text-align: center;
    margin-right: 20px;
    cursor: pointer;


}

.d2 p {

    width: 400px;
}

.d3 {
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.d3 p {
    width: 400px;



}

.image3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;


}

.d1 img:hover {
    opacity: 0.5;
    transition: 1s;
}

.d2 img:hover {
    opacity: 0.5;
    transition: 1s;
}

.d3 img:hover {
    opacity: 0.5;
    transition: 1s;
}


.topic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex-wrap: wrap;
    padding: 10px;

    margin-left: 110px;


}

.topic h2 {
    margin-bottom: 10px;
}

.topic p {
    margin-bottom: 10px;
}

.e {
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-bottom: 30px;
}

.e1 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;

}

.e2 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.e3 {
    margin-right: 10px;
    transition: 1s;

    cursor: pointer;
}

.e4 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.e1 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.e2 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.e3 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.e4 h2 {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;


}


.e1:hover {
    opacity: 0.5;
    transition: 1s;

}

.e2:hover {
    opacity: 0.5;
    transition: 1s;

}

.e3:hover {
    opacity: 0.5;
    transition: 1s;

}

.e4:hover {
    opacity: 0.5;
    transition: 1s;

}


.topic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    flex-wrap: wrap;
    padding: 10px;

    margin-left: 110px;


}

.topic h2 {
    margin-bottom: 10px;
}

.topic p {
    margin-bottom: 10px;
}

.f {
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-bottom: 30px;
}

.f1 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;

}

.f2 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.f3 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;


}

.f4 {
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.f1 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.f2 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.f3 h2 {

    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;

}

.f4 h2 {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;


}


.f1:hover {
    opacity: 0.5;
    transition: 1s;

}

.f2:hover {
    opacity: 0.5;
    transition: 1s;

}

.f3:hover {
    opacity: 0.5;
    transition: 1s;

}

.f4:hover {
    opacity: 0.5;
    transition: 1s;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #FAF1ED;
}

.con__9 img {
    margin-top: 40px;
    margin-bottom: 80px;
}

.ft {
    flex-direction: column;
    margin: 30px;
    cursor: pointer;

}

.ft h4 {
    padding: 10px;
    cursor: pointer;
}

.ft p {
    padding: 10px;
    cursor: pointer;
}

.ft1 {
    margin: 30px;
    cursor: pointer;
}

.ft1 h4 {
    padding: 10px;
    margin-left: 100px;
    cursor: pointer;
}

.ft1 p {
    margin-left: 100px;
    padding: 10px;
    cursor: pointer;
}

.ft p:hover {
    border-bottom: black solid 1px;
}

.ft1 p:hover {
    border-bottom: black solid 1px;
}


.ft3 {
    display: flex;


}

.im {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.h {
    display: flex;
    margin: 10px;
   
}

.p {
    margin: 10px;
    display: flex;
    
}

.p p {
    
    padding: 10px
}

.h h5 {
    flex-direction: column;
    width: 150px;
    height: 100px;
    cursor: pointer;
}

.last {
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: #FAF1ED;
    margin-bottom: 30px;
    border-bottom: 30px;
}

.sel{
    padding-left: 30px;
    
}



.src{
    padding: 20px;
   
}

.src img{
    padding: 10px;
    cursor: pointer;
}